.input {
    box-sizing: border-box;
    width: 100%;

    &_primary {
        border: 1px solid rgba(35, 38, 43, 0.2);
        color: #23262B;

        &:focus-visible {
            outline: 1px solid #0073FF;
            box-shadow: 0 0 4px 0 rgba(0, 115, 255, 0.5);
        }

        &:disabled {
            border: 1px solid rgba(35, 38, 43, 0.2);
            background: rgba(35, 38, 43, 0.08);
            color: rgba(35, 38, 43, 0.2);

            &::placeholder {
                color: rgba(35, 38, 43, 0.2);
            }
        }

        &::placeholder {
            color: rgba(35, 38, 43, 0.6);
        }
    }

    &_size-s {
        height: 44px;
    }

    &_size-m {
        height: 65px;
        border-radius: 24px;
        font-size: 18px;
        font-weight: 400;
        padding: 0 24px;
    }
    
    &_error {
        border: 1px solid #FF4D4D;
    }
}
