.productSlider {
   position: relative;
  
}

.slider {
    height: 100%;
}

.productSliderInner {
    width: 100%;
    aspect-ratio: 16/9;
    background: #fff;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
}

.image  {
    object-fit: contain;
}

.thumbs {
    margin-top: 12px;
}

.thumb {
    aspect-ratio: 1;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.2s ease;
}

.thumb:global(.swiper-slide-thumb-active) {
    opacity: 1;
}

.thumbImage {
    object-fit: cover;
}

.sliderButtonPrev,
.sliderButtonNext {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 50%;
    background: var(--primary-btn-color);
    cursor: pointer;
    z-index: 1;

    &:hover {
        background: var(--primary-btn-hover-color);
    }

    &:active {
        background: var(--primary-btn-active-color);
    }

}

.sliderButtonPrev {
    left: 24px;
}

.sliderButtonNext {
    right: 24px;
}

.sliderButtonIcon {
    width: 100%;
    height: 100%;
    color: #fff;
}