:root {
  --primary-btn-color: #31A5D9;
  --primary-btn-hover-color: #2391C2;
  --primary-btn-active-color: #1D779F;
  --main-text-color: #242424;
  --price-color: #1281b9;
}


html {
  scrollbar-gutter: stable;

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #F5F7FA;
}

.main {
  flex-grow: 1;
  margin: 24px 0;
}

.container {
  max-width: 1416px;
  margin: auto;
  padding: 0 16px;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}