.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background: #fff;
    border-radius: 0 0 24px 24px;
    padding: 8px 24px;
}

.logoImg {
    width: 64px;
    height: auto;
}

.logo {
    display: flex;
}

.personalAccount {
    display: flex;
    align-items: center;
}

.userIcon {
    width: 54px;
    height: 54px;
    color: #31a5d9;
}