.inner {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    background: #fff;
    border-radius: 0 0 24px 24px;
    padding: 12px 24px;
}

.logoImg {
    width: 70px;
    height: auto;
}

.logo {
    display: flex;
}