.searchField {
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.searchIcon {
    height: 20px;
    width: 20px;
    fill: #fff;
}

button.searchButton {
    border-radius: 0 8px 8px 0;
    position: absolute;
    right: 0;
    top: 0;
}

.searchInput input{
    background: #fbfbfb;
}